.report-table td {
    padding: 0.25rem !important;
    white-space: nowrap;
}

table th {
    word-wrap: break-word;
    white-space: nowrap;
    position: sticky;
    top: 0;
}

.table-container {
    height: 75vh;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


