.modal-container {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(148, 147, 147, 0.479);
}

.modal-container .modal-body {
  width: auto;
  min-width: 300px;
  height: auto;
  min-height: 350px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}